@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.animate-fade-blink {
  animation: fade-blink 1s ease-in-out infinite;
}
